<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
        <label>Email</label><br>
        <input type="text" id="fname" name="email" value=""><br>
        <label>Password</label><br>
        <input type="text" id="lname" name="password" value=""><br><br>
        <label>Role</label><br>
        <select name="role" id="cars">
            <option value="" default hidden>--Choose Role--</option>
            <option value="ContentCreator">Content Creator</option>
            <option value="Viewers">Viewers</option>
          </select><br><br>
        <input type="submit" value="Submit">
      </form> 
      <% if(error){%> 
        <% error = error.split(',') %> 
        <% error.forEach(element => { %> 
          <p style="color: red"><%= element %> </p>
        <%}); %> 
      <% } %> 
</body>
</html>